<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="XML name">
        <classes>
            <class name="gui.test.LoginTest">
                <methods>
                    <include name="validateLogin"/>
                    <include name="validateTheTitle"/>
                </methods>
            </class>
            <class name="gui.test.LoginTest">
                <methods>
                    <include name="validateLogin"/>
                    <include name="validateTheTitle"/>
                </methods>
            </class>
            <class name="gui.test.LoginTest">
                <methods>
                    <include name="validateLogin"/>
                    <include name="validateTheTitle"/>
                </methods>
            </class>
            <class name="gui.test.LoginTest">
                <methods>
                    <include name="validateLogin"/>
                    <include name="validateTheTitle"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>